/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


/*body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #333;
    background: #fff;

}*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #333;
    background: #fff;
}

.login-form {
    background: #fff;
    width: 32%;
    margin: 20% auto 4% auto;
    position: relative;
}

.head {
    position: absolute;
    top: -15%;
    left: 35%;
}

.head img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 6px solid rgba(221, 218, 215, 0.23);
}

img {
    max-width: 100%;
}

form {
    padding: 24% 2.5em;
}

form li {
    border: 1px solid #B4B2B2;
    list-style: none;
    margin-bottom: 25px;
    width: 100%;
    background: none;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
}

form li:hover {
    border: 1px solid #40A9DF;
    box-shadow: 0 0 1em #40A9DF;
    -webkit-box-shadow: 0 0 1em #40A9DF;
    -o-box-shadow: 0 0 1em #40A9DF;
    -moz-box-shadow: 0 0 1em #40A9DF;
}

input[type="text"], input[type="password"] {
    font-family: 'Open Sans', sans-serif;
    width: 60%;
    padding: 0.7em 2em 0.7em 1.7em;
    color: #858282;
    font-size: 18px;
    outline: none;
    background: none;
    border: none;
    font-weight: 600;
}

.icon {
    height: 30px;
    width: 30px;
    display: block;
    float: left;
    margin: 7px -11px 0px 0px;
    padding: 11px 20px;
    color: rgba(128, 128, 128, 0.44) !important;
}

a {
    text-decoration: none;
}

.p-container {
    margin-top: 2em;
}

input[type="submit"] {
    float: right;
    font-size: 18px;
    display: inline-block;
    font-weight: 600;
    color: #fff;
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -o-transition: 0.1s all;
    cursor: pointer;
    outline: none;
    padding: 15px 10px;
    margin-top: 3px;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    border: none;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    background: #ffe49e; /* Old browsers */
    background: -moz-linear-gradient(top, #ffe49e 0%, #ffb700 3%, #ffad00 35%, #ff9000 97%, #e27f00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe49e), color-stop(3%, #ffb700), color-stop(35%, #ffad00), color-stop(97%, #ff9000), color-stop(100%, #e27f00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffe49e 0%, #ffb700 3%, #ffad00 35%, #ff9000 97%, #e27f00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffe49e 0%, #ffb700 3%, #ffad00 35%, #ff9000 97%, #e27f00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffe49e 0%, #ffb700 3%, #ffad00 35%, #ff9000 97%, #e27f00 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffe49e 0%, #ffb700 3%, #ffad00 35%, #ff9000 97%, #e27f00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe49e', endColorstr='#e27f00', GradientType=0); /* IE6-9 */
}

input[type="submit"]:hover {
    background: #e27f00; /* Old browsers */
    background: -moz-linear-gradient(top, #e27f00 0%, #ff9000 3%, #ffad00 65%, #ffb700 97%, #ffe49e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e27f00), color-stop(3%, #ff9000), color-stop(65%, #ffad00), color-stop(97%, #ffb700), color-stop(100%, #ffe49e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e27f00 0%, #ff9000 3%, #ffad00 65%, #ffb700 97%, #ffe49e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e27f00 0%, #ff9000 3%, #ffad00 65%, #ffb700 97%, #ffe49e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e27f00 0%, #ff9000 3%, #ffad00 65%, #ffb700 97%, #ffe49e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e27f00 0%, #ff9000 3%, #ffad00 65%, #ffb700 97%, #ffe49e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e27f00', endColorstr='#ffe49e', GradientType=0); /* IE6-9 */
}

/* top nav styles */

label {
    color: #252c32;
    font-weight: 400;
}
.clearfix {
    clear: both;
    overflow: hidden;
    width: 100%;
}
.btn {
    font-size: 14px !important;
}
.no-margin {
    margin: 0 !important;
}
.no-margin-top {
    margin-top: 0 !important;
}
.select.form-control {
    border: 0 !important;
    color: #333;
    padding: 0 !important;
}
.bootstrap-select>.dropdown-toggle,
.form-control {
    border-radius: 3px;
    border-color: #5b616b !important;
    box-shadow: 0 0 0 #fff;
    font-size: 16px !important;
    height: 33px;
    background: #fff;
}
.form-control:focus {
    border-color: #155aca;
    box-shadow: 0 0 0 #fff;
    border-width: 2px;
}
.input-group-addon {
    border-color: #5b616b;
}
.btn-default {
    border-color: #bac2cd !important;
    text-shadow: 0 0 0 #fff;
    color: #252c32;
    background: #ddd; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ddd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ddd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ddd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ddd); /* Standard syntax */
}

.btn-default:focus,
.btn-default:hover {
    background: #ddd;
    color: #252c32;
}
#top_section {
    position: relative;
    z-index: 999999;
    width: 100%;
    height: 64px;
    min-height: 54px;
    max-height: 54px;
    background: #485C74;
}
#brand-wrapper {
    float: left;
    line-height: 54px;
}
#brand-wrapper img {
    height: 50px !important;
    width: 45%;
}
#header-right {
    float: right;
    padding-right: 15px;
}
.prod-title {
    float: left;
    font-size: 25px;
    line-height: 52px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 600;
}
.prod-title img {
    width: 24px!important;
}
#user-nav {
    margin: 0;
    padding: 0;
}
#user-nav>li {
    position: relative;
    float: left;
    margin: 0 0 0 15px;
    padding: 10px 0 0 0;
    list-style: none;
}
.profile-thumb {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background: #ddd;
}
.profile-thumb img {
    width: 32px;
    border-radius: 32px;
}
.menu_ic {
    float: left;
    width: 24px;
    height: 32px;
    /*
    background: url(../images/ic_apps_36px.svg) no-repeat left center;
    */
    background-size: 24px 24px;
}

#menu_wrap,
#profile_wrap {
    left: auto;
    right: 0;
    padding: 15px;
    width: 330px;
    margin-top: 10px;
}
#menu_wrap {
    width: 300px;
}
.buttons_user {
    padding-top: 10px;
}
#menu_wrap.in::after,
#profile_wrap.in::after,
.open .dropdown-i::after {
    content: " ";
    border-color: transparent;
    border-bottom-color: #fff;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: block;
    position: absolute;
    right: 10px;
    top: -7px;
    z-index: 999;
    margin-right: -7px;
    height: 0;
    width: 0;
}
#menu_wrap.in::before,
#profile_wrap.in::before,
.open .dropdown-i::before {
    content: " ";
    border-color: transparent;
    border-bottom-color: #ccc;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: block;
    position: absolute;
    right: 10px;
    top: -8px;
    z-index: 997;
    margin-right: -7px;
    height: 0;
    width: 0;
}
.open .dropdown_wrap {
    position: absolute;
    right: 0 !important;
    left: auto !important;
    top: 56px !important;
    background: #fff;
    border: 1px solid #ccc !important;
    border-color: rgba(0,0,0,.2) !important;
    color: #000;
    width: 330px;
    display: block;
    padding: 15px;
    z-index: 997
}
.dropdown-menu {
    border-radius: 0;
    margin: 0;
}
.profile-thumb-l {
    width: 100px;
    height: 100px;
    background: #ddd;
    border-radius: 100px;
    float: left;
}
.profile-thumb-l img {
    width: 100px;
    border-radius: 100px;
}
.profile-info {
    float: right;
    width: 175px;
    padding-top: 20px;
}
.profile-hdng {
    display: inline-block;
    width: 50px;
    font-weight: 600;
}

#menu_wrap {
    width: 300px;
}
#menu_wrap ul {
    margin: 0;
    padding: 0;
}
#menu_wrap li {
    width: 50%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#menu_wrap li img {
    width: 50%;
}
#menu_wrap li span {
    display: block;
}
#menu_wrap li a {
    color: #444;
    display: block;
    padding: 5px;
    border: 1px solid #fff;
}
/*#menu_wrap li:first-child a {
	min-height: 113px;
}*/
#menu_wrap li a:hover {
    text-decoration: none;
    border-color: #f0f0f0;
}


body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.basic-container {
    padding: 30px;
}

.version-info {
    font-size: 8pt;
    float: right;
}
