<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app id="WebApp_ID" version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
     
    <!-- Auto scan REST service -->
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param>
     
     <!-- <listener>
        <listener-class>Log4JInitServlet
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener> -->
    
    <!-- <listener>
    <listener-class>net.codejava.servlet.ContextListener</listener-class>
    </listener> -->
     
    <!-- <servlet>
        <servlet-name>RootApplication</servlet-name>
        <servlet-class>
            com.alacriti.hackriti.rest.handlers.RootApplication
        </servlet-class>
    </servlet> -->
    
    <servlet>
        <servlet-name>resteasy-servlet</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
    </servlet>
      
    <servlet>
		<servlet-name>ResourceInitServlet</servlet-name>
		<servlet-class>com.alacriti.hackriti.logging.utils.ResourceInitServlet</servlet-class>
		<init-param>
			<param-name>log4j-properties-location</param-name>
			<param-value>WEB-INF/log4j.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
        <servlet-name>resteasy-servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
	    
    <!-- <servlet-mapping>
        <servlet-name>RootApplication</servlet-name>
        <url-pattern>/parking/*</url-pattern>
    </servlet-mapping> -->
	
</web-app>
