<div class=" main_block">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h3>Select Date:</h3>
            <mat-card class="matcard">
                <mat-form-field class="">
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
                           [(ngModel)]="displayableSelectedDate"
                           (dateChange)="onDateChange()">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-card>
        </div>
    </div>
    <br>
    <span class="clearfix"></span>
    <div *ngIf="!isloading">
        <div *ngIf="isOwner">
            <div *ngIf="isOwnerSlotBookedByUser && !isOwnerSlotFreedAndNotBooked">
                <div class="row" style="padding-top: 10px;">
                    <div class="col-sm-8 col-sm-offset-2">
                        <mat-card class="matcard">
                            <div *ngIf="employeeDetails?.employee_name">
                                <h3>Hi {{employeeDetails.employee_name}}</h3>
                            </div>
                            <br>
                            <h4>your slot is reserved by {{parkerEmployeeDetails.employee_name}}</h4>
                            <br>
                            <div class="text-right">
                                <span class="btn btn-danger text-right" data-toggle="modal"
                                      data-target="#denySlotModal" style="margin-right: 10px">Deny Slot to {{parkerEmployeeDetails.employee_name}}</span>
                                <span class="btn btn-success text-right" data-toggle="modal"
                                      data-target="#denySlotModal" (click)="isRebook = true">ReBook Slot</span>

                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div *ngIf="isOwnerSlotFreedAndNotBooked && !isOwnerSlotBookedByUser">
                <div class="row" style="padding-top: 10px;">
                    <div class="col-sm-8 col-sm-offset-2">
                        <mat-card class="matcard">
                            <div *ngIf="employeeDetails?.employee_name">
                                Hi {{employeeDetails.employee_name}}
                            </div>
                            <br>
                            <h4>you Have Freed Your Slot , No User booked.</h4>
                            <div class="text-right">
                                <span class="btn btn-success text-right" data-toggle="modal"
                                      data-target="#denySlotModal" (click)="isRebook = true">ReBook Slot</span>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div *ngIf="!isOwnerSlotBookedByUser && !isOwnerSlotFreedAndNotBooked">
                <div class="row" style="padding-top: 10px;">
                    <div class="col-sm-8 col-sm-offset-2">
                        <mat-card class="matcard">
                            <h3 class="header-class"><span>{{employeeDetails.employee_name}}</span>, Your Parking
                                Details</h3>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div class="row">
                                        <div class="col-sm-6 text-right-align"><p class="text-right-align headings">
                                            Parking Type
                                            : </p></div>
                                        <div class="col-sm-6"><p class="text-left-align">
                                            {{employeeDetails.parking_info.parking_type}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 text-right-align"><p class="text-right-align headings">
                                            Parking Level
                                            : </p></div>
                                        <div class="col-sm-6"><p class="text-left-align">
                                            {{employeeDetails.parking_info.parking_level}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 text-right-align"><p class="text-right-align headings">
                                            Parking Slot
                                            Number : </p></div>
                                        <div class="col-sm-6"><p class="text-left-align">
                                            {{employeeDetails.parking_info.parking_slot_number}}</p></div>
                                    </div>
                                </div>
                                <span class="clearfix"></span>
                            </div>
                            <div style="text-align: end">
                                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Free Slot
                                </button>
                            </div>
                        </mat-card>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!isOwner" style="padding-top: 10px;">
            <div *ngIf="isOwnerSlotBookedByUser">
                <div class="row" style="padding-top: 10px;">
                    <div class="col-sm-8 col-sm-offset-2">
                        <mat-card class="matcard">
                            <h3 class="header-class"><span>{{employeeDetails.employee_name}}</span>, Your Parking
                                Details</h3>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div class="row">
                                        <div class="col-sm-6 text-right-align"><p class="text-right-align headings">
                                            Parking Type
                                            : </p></div>
                                        <div class="col-sm-6"><p class="text-left-align">
                                            {{ownerEmployeeDetails.parking_info.parking_type}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 text-right-align"><p class="text-right-align headings">
                                            Parking Level
                                            : </p></div>
                                        <div class="col-sm-6"><p class="text-left-align">
                                            {{ownerEmployeeDetails.parking_info.parking_level}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 text-right-align"><p class="text-right-align headings">
                                            Parking Slot
                                            Number : </p></div>
                                        <div class="col-sm-6"><p class="text-left-align">
                                            {{ownerEmployeeDetails.parking_info.parking_slot_number}}</p></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 text-right-align"><p class="text-right-align headings">
                                            Owner Name : </p></div>
                                        <div class="col-sm-6"><p class="text-left-align">
                                            {{ownerEmployeeDetails.employee_name}}</p></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 text-right-align"><p class="text-right-align headings">
                                            Owner Email : </p></div>
                                        <div class="col-sm-6"><p class="text-left-align">
                                            {{ownerEmployeeDetails.employee_mail_id}}</p></div>
                                    </div>
                                </div>
                                <span class="clearfix"></span>
                            </div>
                            <div style="text-align: end">
                                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Cancel Slot
                                </button>
                            </div>
                        </mat-card>

                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2" *ngIf="isSlotsAvailable && !isOwnerSlotBookedByUser">
                <mat-card class="matcard">
                    <div class="">
                        <h3 class="header-class text-left" style="text-align: left !important;">Available Parking
                            Slots</h3>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th *ngFor="let header of tableHeaders">{{header}}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let slot of availableSlots">
                                <td>{{slot.parking_type}}</td>
                                <td>{{slot.parking_level}}</td>
                                <td>{{slot.slot_number}}</td>
                                <td>{{slot.owner_email}}</td>
                                <td>{{slot.owner_name}}</td>
                                <td (click)="availableSelectedSlot(slot)" data-toggle="modal"
                                    data-target="#bookSlotModal"><span class="btn btn-success">Book Slot</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </mat-card>
            </div>
            <div class="col-sm-8 col-sm-offset-2" *ngIf="!isSlotsAvailable && !isOwnerSlotBookedByUser">
                <mat-card class="matcard text-center">OOPs No Slots Are Available</mat-card>
            </div>

        </div>


    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h4 *ngIf="isOwner">Are You sure You Would Like To Free Your Slot</h4>
                    <h4 *ngIf="!isOwner">Are You sure You Would Like To Cancel Your Slot</h4>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="cancelSlot()">Yes
                    </button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Dismiss</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="bookSlotModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h4>Are You sure You Would Like To Book Slot</h4>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="bookSlot()">Yes</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="clearSelectedSlot()">
                        Dismiss
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="denySlotModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h4 *ngIf="!isRebook">Are You sure You Would Like Deny User Slot</h4>
                    <h4 *ngIf="isRebook">Are You sure You Would Like Deny & ReBook Slot</h4>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-dismiss="modal" *ngIf="!isRebook"
                            (click)="denyUserSlot()">Yes
                    </button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal" *ngIf="isRebook"
                            (click)="denyAndRebookSlot()">
                        Yes
                    </button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">
                        Dismiss
                    </button>

                </div>
            </div>
        </div>
    </div>


    <div *ngIf="isloading" style="min-height: 100px">
        <div class="response-loading-div" style="margin-top: 67px">
            <img src="assets/images/loading.gif" alt="Loading...">
            <!--<span>LOADING</span>-->
        </div>
    </div>
</div>
