<div fxLayout="row"
     fxLayout.xs="column"
     fxFlexFill class="login">

    <div fxFlex="30">

    </div>

    <div fxFlex="40" class="login-card-container">
        <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
        <mat-card class="">


            <div class="col-sm-12 login-card"><h2 class="text-center"><span style="
    color: #fff;
     font-size: 53px;
">I</span><span style="
    color: #fff;
    font-size: 65px;
">Park</span></h2>
            </div>

            <mat-card-content>
                <div *ngIf="!isLoggedIn">
                    <div *ngIf="!code" class="text-center">
                        <button mat-raised-button style="margin-top: 20px;">
                            <img style="width: 40px; height: 40px; margin: 10px;"
                                 src="assets/images/google_symbol.jpg">
                            <a [href]="googleUrl">Sign In With Google</a>
                        </button>
                        <p class="text-center col-offset-8" *ngIf="code">
                            <i class="fa fa-refresh fa-spin" style="font-size:24px"></i> Please Wait...</p>
                    </div>
                </div>

                <div *ngIf="isLoggedIn" class="text-center" >
                    <button mat-raised-button color="accent" style="margin-top: 25px" (click)="goToSite()">Go to Dashbord</button>
                </div>
            </mat-card-content>
        </mat-card>

    </div>

    <div fxFlex="30">

    </div>

</div>
