<div class="login-form">
  <div class="head">
    <img src="" alt="photo">
  </div>
  <form>
    <li>
      <input type="text" class="text" value="USERNAME" onfocus="this.value = '';"
             onblur="if (this.value == '') {this.value = 'USERNAME';}"><a class=" icon fa fa-user"
                                                                          aria-hidden="true"></a>
    </li>
    <li>
      <input type="password" value="Password" onfocus="this.value = '';"
             onblur="if (this.value == '') {this.value = 'Password';}"><a class=" icon fa fa-lock"
                                                                          aria-hidden="true"></a>
    </li>
    <div class="p-container">
      <input type="submit" value="SIGN IN">
      <div class="clear"></div>
    </div>
  </form>
</div>
